/* Estilos generales */
body {
  font-family: "Arial", sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
  color: #333;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #c1272d;
  position: fixed;
  width: 100%;
}

header .actions {
  background-color: #1d8b24;
  padding: 15px;
  color: #f4f4f4;
  cursor: pointer;
}

/* Barra de navegación */
nav ul {
  list-style: none;
  display: flex;
  justify-content: center;

  padding: 15px;
  margin: 0;
}
nav ul li {
  margin: 0 10px;
}
nav ul li a {
  color: white;
  padding: 10px 20px;
  text-decoration: none;
  font-weight: bold;
}
nav ul li a:hover {
  background-color: #8b1d24;
  border-radius: 5px;
}

/* Banner principal */
.banner {
  text-align: center;
  background: url("../img/mexico.jpg") no-repeat center center/cover;
  color: white;
  padding: 60px 20px;
}
.banner h1 {
  font-size: 60px;
  text-shadow: rgb(196, 228, 12) 1px 2px;
}
.banner p {
  font-size: 2em;
  text-shadow: #333 2px 2px;
}

/* Sección de Lugares Icónicos */
/* flex-wrap: wrap; */
.flex-section {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  padding: 40px 20px;
}
.card {
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  flex: 1;
  margin: 10px;
  text-align: center;
  /* max-width: 300px; */
}

.card img {
  width: 300px;
  border-radius: 10px;
}

/* Sección de Cultura y Tradiciones */
.grid-section {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  padding: 40px 20px;
}
.grid-item {
  background-color: #e48181;
  padding: 20px;
  border-radius: 10px;
  font-size: 20px;
  color: #333;
}

.grid-item p {
  font-size: 14px;
  color: #3f3f3f;
}

.grid-item .item-header {
  display: flex;
  justify-content: center;
  gap: 0px 20px;
}

.grid-item .item-footer {
  display: flex;
  justify-content: end;
  font-size: 13px;
}

.grid-item .item-footer a {
  color: #8b1d24;
}

/* Banner de publicidad */
.promo {
  text-align: center;
  background-color: #fefbf7;
  padding: 40px 20px;
  font-weight: bold;
}

.promo video {
  width: 300px;
}
.promo .publish {
  margin-top: 50px;
}
.promo .publish > h3  {
  font-size: 40px;
  line-height: 2;
}

/* Footer */
footer {
  text-align: center;
  background-color: #333;
  color: white;
  padding: 15px;
}

/* Diseño responsive */
@media (max-width: 600px) {
  /* .grid-section {
    grid-template-columns: 1fr;
  }
  .banner h1 {
    font-size: 30px;
  } */
}
